body {
    margin: 0;
    font-size: 22px;
}

h1 {
    margin-left: 10px;
    color: dodgerblue;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    width: 270px;
    border: 1px dotted blue;
}

li:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

button {
    background-color: rgb(88, 88, 182);
    color: beige;
    border: none;
    padding: 5px 45px;
    margin-left: 10px;
    width: 290px;
}

#text {
    margin-left: 10px;
    width: 286px;
    padding: 10px 0;
}