img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

div {
    width: 250px;
    vertical-align: top;
    display: inline-block;
}

section div p,
h3 {
    text-align: center;
}

section p {
    margin-top: 5px;
}

section h4 {
    margin-bottom: 8px;
}

body {
    margin: 70px 280px 0 280px;
}

div:first-child {
    margin-right: 50px;
}

div:nth-child(2) {
    margin-left: 58px;
}

div:last-child {
    float: right;
}

aside p,
h1 {
    margin: 0;
}

section {
    overflow: hidden;
}